﻿@{
Layout =null;
}
<!doctype html>
<html lang="en">
<head>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Iniciar Sesión</title>
</head>
<body class="bg-dark">
    <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block" >
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                   
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/css/956-min-1080x675.jpg" class="d-block w-120" alt="...">
                            <h5 class="font-weight-bold text-center m-2">Bienvenidos al Futuro</h5>
                            
                        </div>                                            
                    </div>
                 </div>
              </div>
            <div class="col-lg-5 ">
                <div class="px-lg-5 pt-lg-4 pb-lg-3">
                    <img src="~/css/herning.svg" class="img-fluid" width="50" height="1" />
                </div>
                <div class="px-lg-5 py-lg-4 p-4">
                    <h1 class="font-weight-bold mb-4">Bienvenidos de vuelta</h1>
                    <form href="/auth/login" method="post" class="mb-5">
                        @if (TempData["AuthMessage"] != null)
                        {
                    <p>@TempData["AuthMessage"]</p>
                    }
                        <div class="mb-4">
                            <label for="#" class="form-label font-weight-bold">Usuario</label>
                            <input type="text" class="form-control bg-dark-x" placeholder="Ingrese Nombre" name="Username" value="">
                        </div>
                        <div class="mb-4">
                            <label for="#" class="form-label font-weight-bold">Contraseña</label>
                            <input type="password" class="form-control bg-dark-x mb-2" placeholder="Ingrese Contraseña" name="Password" value="">
                            <a href="#" class="form-text text-muted text-decoration-none">¿Haz Olvidado Contraeña?</a>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>

                    <p class="font-weight-bold text-center text-muted " >O Inicia Sesion Con</p>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-outline-light flex-grow-1 mr-2">Google</button>
                        <button type="submit" class="btn btn-outline-light flex-grow-1 ml-2">facebook</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>