﻿
<h2>Crear Curso</h2>

<form action="/Admincurso/Create" enctype="multipart/form-data" method="post">


    <div class="form-group">
        <label class="control-label">Titulo</label>
        <input type="text" class="form-control" name="Titulo" value="@Model.Titulo" autocomplete="off" />
        <label class="control-label">Descripcion</label>
        <input type="text" class="form-control" name="Descripcion" value="@Model.Descripcion" autocomplete="off" />
        <label class="control-label">Caratula</label>
        
    </div>
    <div class="form-group">
        
        <input type="file" name="Files" multiple accept=".jpg,.png" />
    </div>
    <div>
        <label class="control-label">Video</label>
        <input type="text" class="form-control" name="Video" value="@Model.Video" autocomplete="off" />
        @Html.ValidationMessage("Titulo")
        @Html.ValidationMessage("Descripcion")
        @Html.ValidationMessage("Caratula")
        @Html.ValidationMessage("Video")
        </div>
    <br />

    @*</div>
    <div class="form-group">
        <label class="control-label">Curso</label>
        <select name="CursoId" class="form-control">
            <option value="">-- Selecciona Curso --</option>
            @foreach (var item in ViewBag.Curso)
            {
                if (item.Id == Model.Titulo)
                {
<option selected value="@item.Id">@item.Titulo</option>
                    <option selected value="@item.Titulo">@item.Titulo</option>
 }
                else
                {
<option value="@item.Id">@item.Titulo</option>}
            }
        </select>
        @Html.ValidationMessage("CursoId")

        </div>*@

        @*<div class="form-group">
                <label class="control-label">Fecha de publicación</label>
                <input type="date" class="form-control" name="FechaPublicacion" value="@string.Format("{0:yyyy-MM-dd}", Model.FechaPublicacion)" autocomplete="off" />
                @Html.ValidationMessage("FechaPublicacion")
            </div>*@

        @*<div class="form-check">
                    @if (Model.EstaActivo)
                    {
            <input type="checkbox" checked id="EstaActivo" name="EstaActivo" value="true" class="form-check-input"> }
                        else
                        {
            <input type="checkbox" id="EstaActivo" name="EstaActivo" value="true" class="form-check-input">}
                    <label class="form-check-label" for="EstaActivo">Está activo</label>
                </div>*@

                <button class="btn btn-primary">Registrar Curso</button>

</form>