﻿@{ ViewData["Title"] = "Home Page"; }
<a class="btn btn-primary" href="/AdminCurso/Create" role="button">Agregar Curso</a>


<li>Catalogo de cursos</li>
<li>Inicio</li>



@foreach (var item in Model)
{

<div class="card w-100 mb-3" style="width: 18rem;">
    <figure>
        <img src="@item.Caratula" class="figure-img img-fluid rounded" width="350" height="150">
        <figcaption class="figure-caption">Caratula del curso.</figcaption>
    </figure>
    <div class="card-body">
        <h5 class="card-title">@item.Titulo</h5>
        <p class="card-text">@item.Descripcion</p>
        <a href="/Cursos/Detalle?id=@item.Id" class="btn btn-primary">Detalle</a>

    </div>
</div>}
