﻿@{
    ViewData["Title"] = "Detalle de curso";
}



<h1>@Model.Curso.Titulo</h1>
<div class="row">

    <div class="col">

        <img src="@Model.Curso.Caratula" width="300" height="250" > </img>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="@Model.Curso.Video" allowfullscreen></iframe>
        </div>

        <p> @Model.Curso.Descripcion </p>
    </div>

    <br />
    <h1>Profesores:</h1>
    @foreach (var profesor in Model.Profesores)
    {
    <h1 align="center" style="color:#0D85E3" ;> @profesor.Profesion  @profesor.Nombre   </h1>
       

    }
</div>

<ul>
    <li>Catalogo de  Capitulos </li>
    <li>Inicio</li>
    <h3>Cap 2    </h3>
    <h3>Cap 3    </h3>
    <h3>Cap 4    </h3>
    <h3>Cap 5    </h3>
    <h3>Cap 6    </h3>
    <h3>Cap 7    </h3>
</ul>


