﻿:root {
    --dark: #16191c;
    --dar-x: #1e2126;
    --light: #ffffff;
}
body {
    font-family: 'Spartan', sans-serif;
    font-weight:300;
    color:var(--light);

}
.bg-dark{background-color: var(--dark) !important}
.bg-dark{background-color: var(--dar-x) }

.form-control{
    min-height: 3.125rem;
    line-height: initial;
}
.img-1{
    background-image: url('956-min-1080x675.jpg');
    background-size: cover;
    background-position: center;

}
.img-2 {
    background-image: url('xps-dpbXgTh0Lac-unsplash.jpg');
    background-size: cover;
    background-position: center;
}